#admin-index-main-wrapper {
    padding: 20px;
}
#main-content-wrapper {
    color: #FFFFFF;
}
.text-yellow {
    color: yellow;
}
.text-green {
    color: #1da702;
}
#edit-payfast-bottom-card {
    padding: 0;
}
